@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin border-status {
  border: 1px solid;
  color: #fff;
  border-radius: 16px;
  padding: 1px 8px;
  font-size: 12px;
}
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
