$textColor: rgb(99, 115, 129);
$textdefaultColor: #fff;
// $bg-ColorActive: rgb(0, 171, 85);
$primaryColor: rgb(33, 43, 54);
$bg-Color: #fff;
$bg-PrimaryColor: rgb(244, 246, 248);
// $bg-HoverColor: rgba(145, 158, 171, 0.06);
$borderColor: rgba(145, 158, 171, 0.24);

$mobile: 739px;
$tablet: 1024px;
$desktop: 1224px;
